<div class="container">
  <h2>Registro de Usuario</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <label>Nombre de usuario</label>
    <input type="text" formControlName="userName" />

    <label>Email</label>
    <input type="email" formControlName="email" />

    <label>Contraseña</label>
    <input type="password" formControlName="password" />

    <label>Rol</label>
    <select formControlName="role">
      <option value="Administrador">Administrador</option>
      <option value="Usuario">Usuario</option>
      <option value="Empresa">Empresa</option>
      <option value="Gobierno">Gobierno</option>
    </select>

    <button type="submit">Registrarse</button>
  </form>
  <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
</div>
