<div class="auth-wrapper">
  <div class="auth-container">
    <h1>SKYNET DRONES</h1>
    <h2>Registro</h2>

    <form [formGroup]="formularioRegister" (ngSubmit)="register()">
      <label>Nombre de usuario</label>
      <input
        type="text"
        class="form-control"
        formControlName="userName"
        placeholder="Ingresa tu nombre de usuario..."
      />

      <label>Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Ingresa tu email..."
      />

      <label>Contraseña</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Ingresa tu contraseña..."
      />

      <label>Rol</label>
      <select class="form-control" formControlName="role">
        <option value="Administrador">Administrador</option>
        <option value="Usuario">Usuario</option>
      </select>

      <button type="submit">Registrarse</button>
    </form>

    <p class="switch">
      ¿Ya tienes cuenta? 
      <a routerLink="/login" class="link">Inicia sesión</a>
    </p>
  </div>
</div>
